#footer {
  background-color: var(--gray-900);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-icons,
.footer-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer-link li a {
  color: var(--white);
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.footer-link li:hover a {
  color: var(--primary-500);
}
.footer-icons a {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primary-800);
}
#footer p {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--gray-300);
}
